/*--------------------
 Common Styles starts
 --------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    max-width: 1170px;
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 40px 0px;
}

/*------------------
 Common Styles Ends 
 ------------------*/

/*---------------
  Header Starts 
  --------------*/

.top-banner {
    display: flex;
    justify-content: space-around;
    background-color: #161616;
    border-radius: 30px;
}

.banner-info {
    width: 570px;
    margin: 60px 0px;
    padding-left: 60px;
    padding-bottom: 60px;
    position: relative;
}

.banner-info h2 {
    color: #FFFFFF;
    font-size: 65px;
    line-height: 80px;
    font-weight: 600;
}

.banner-info p {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400;
    margin: 30px 0px;
}

.banner-info button {
    background-color: #DD0000;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    position: absolute;
    cursor: pointer;
    transition-duration: 0.3s;
}

.banner-info button:hover {
    padding: 13px 33px;
}

.banner-info button a {
    text-decoration: none;
    color: #FFFFFF;
}

.banner-image {
    width: 550px;
    position: relative;
}

.banner-image img {
    width: 80%;
    position: absolute;
    bottom: 0px;
}

/*-----------
 Header Ends 
 -----------*/

/*----------------------------
  Information Section Starts 
  ---------------------------*/

.information-section {
    display: flex;
}

.site-buttons {
    width: 250px;
    background-color: #161616;
    text-align: center;
    padding-top: 30px;
    margin: 0;
    border-radius: 8px;
}

.site-buttons button {
    width: 210px;
    height: 40px;
    margin: 10px 0px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.site-buttons button a {
    text-decoration: none;
    color: #161616;
}

#selected-button {
    background-color: #DD0000;
}

#selected-button a {
    color: #FFFFFF;
}